<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
 
    <%- include('partials/header') %>
  
  </head>
    <br>
    <h1 class="display-1 text-center">Budget Time!</h1>
    <h3 class="text-muted text-center">Are you ready to save money?</small>
      <br><br>
      <div class="container">
        <div class="row">
        
            <img src="https://media.istockphoto.com/id/1368169112/vector/money-green-seamless-pattern-vector-background-included-line-icons-as-piggy-bank-wallet.jpg?s=612x612&w=is&k=20&c=RUEKhFNUQ529-crDHzpZxfmEBOmzASkZtoN8VpQwUhM="  -->
            
 <br>
        
