<%- include('../partials/header') %>


<title>Edit Transaction</title>
</head>
<body>
</br></br></br></br></br></br></br>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h2 class="display-5">Edit your transaction</h2>
    <form action="/transactions/<%= edit._id %>?_method=PUT" method="POST">
        <label>Description
            <input type="text" name="description" value=<%= edit.description %>>
        </label><br>
        <label>Amount
            <input type="number" name="amount" min:0 value=<%= edit.amount %>>
        </label><br>
        <input type="submit" value="Edit Transaction">
    </form>
    </div>
</div>
</body>
</html>