<title>New Transaction</title>
</head>
<body>
    <h2>Input your transactions here!</h2>
    <form action="/budgets" method="POST">
        <label>Description
            <input type="text" name="title">
        </label><br>
        <label>Amout
            <input type="number" name="amount">
        </label><br>
        <input type="submit" value="Add Transaction">
    </form>
</body>
</html>