<%- include('../partials/header') %>


<title>Edit Budget</title>
</head>
<body>
    <h2>Edit your budget</h2>
    <% if (user.equals(user._id)) { %>
    <form action="/budgets/<%= edit._id %>?_method=PUT" method="POST">
        </label><br>
        <label>Edit your income for this month:</label>
            <input type="number" name="amount" value = <%= edit.amount%>>
            <br><br>
        <input type="submit" name="Submit" value="Submit">
    </form>
    <% } %>

</body>
</html>