<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('../partials/header') %>

    <title>New Budget</title>
</head>
<body>
    <h2>Your Budgeting Journey Starts Here!</h2>
    <form action="/budgets" method="POST">
        <label>Month:
        <select name="month">
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March" >March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July"> >July</option>
            <option value="August"> >August</option>
            <option value="September"%> >September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
        </select>
            <br>
        <label>Expected income:</label>
            <input type="number" name="amount">
        </label><br>
        <input type="submit" value="Start Budget">
    </form>
</body>
</html>